<form [formGroup]="form" skipValidation (ngSubmit)="saveChange()">
  <p-panel header="List Product">
    <!-- form grid -->
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="name" class="block">Name
          <span class="required">*</span>
        </label>
        <input id="name" type="text" formControlName="name" pInputText class="w-full" placeholder="name"
          (keyup)="generatesSlug()" />
        <app-validation-message [entityForm]="form" fieldName="name"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="code" class="block">Code
          <span class="required">*</span>
        </label>
        <input id="code" class="w-full" type="text" formControlName="code" pInputText placeholder="code" />
        <app-validation-message [entityForm]="form" fieldName="code"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="slug" class="block">Slug
          <span class="required">*</span>
        </label>
        <input id="slug" pInputText type="text" class="w-full" formControlName="slug" placeholder="slug" />
        <app-validation-message [entityForm]="form" fieldName="slug"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="sku" class="block">SKU
          <span class="required">*</span>
        </label>
        <input id="sku" type="text" formControlName="sku" class="w-full" pInputText placeholder="sku" />
        <app-validation-message [entityForm]="form" fieldName="sku"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>

      <div class="field col-12">
        <label for="manufacturerID" class="block">Manufactuer
          <span class="required">*</span>
        </label>
        <p-dropdown [options]="manufacturers" formControlName="manufacturerID" placeholder="Select a Manufacturer"
          [showClear]="true" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
        <app-validation-message [entityForm]="form" fieldName="manufacturerID"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="categoryId" class="block">Category
          <span class="required">*</span>
        </label>
        <p-dropdown [options]="productCategories" formControlName="categoryId" placeholder="Select a Category"
          [showClear]="true" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
        <app-validation-message [entityForm]="form" fieldName="categoryId"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="productType" class="block">Product Type
          <span class="required">*</span>
        </label>
        <p-dropdown [options]="productType" formControlName="productType" placeholder="Select a productType"
          [showClear]="true" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
        <app-validation-message [entityForm]="form" fieldName="productType"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>

      <div class="field col-12">
        <label for="sortOrder" class="block">Sort Order
          <span class="required">*</span>
        </label>
        <p-inputNumber formControlName="sortOrder"></p-inputNumber>
        <app-validation-message [entityForm]="form" fieldName="sortOrder"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="sellPrice" class="block">Sell Price
          <span class="required">*</span>
        </label>
        <p-inputNumber formControlName="sellPrice" />
        <app-validation-message [entityForm]="form" fieldName="sellPrice"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-12 md:col-6">
        <label for="image" class="block">Image
        </label>
        <input id="thumbnailImage" type="file" (change)="onFileChange($event)" class="w-full" />
      </div>

      <div class="field col-12 md:col-6">
        <p-image [src]="thumbnailImage" alt="selectedEntity.thumbnailPicture" width="250" [preview]="true" />
      </div>


      <div class="field-checkbox col-12 md:col-3">
        <p-checkbox formControlName="visibility" binary="true" id="visibility"> </p-checkbox>
        <label for="visibility" class="block">Visibility</label>
      </div>
      <div class="field-checkbox col-12 md:col-3">
        <p-checkbox formControlName="isActive" binary="true" id="isActive"> </p-checkbox>
        <label for="isActive" class="block">IsActive</label>
      </div>
      <div class="field col-12">
        <label for="seoMetaDescription" class="block">SeoMetaDescription</label>
        <textarea id="seoMetaDescription" class="w-full" pInputTextarea class="width-full"
          formControlName="seoMetaDescription"></textarea>
      </div>
      <div class="field col-12">
        <label for="description" class="block">Description</label>
        <p-editor formControlName="description" [style]="{ height: '320px' }" />
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button type="submit" [disabled]="!form.valid || btnDisabled" pButton icon="fa fa-save" iconPos="left"
        label="Save"></button>
    </ng-template>
    <!-- block UI -->
    <!-- [target]="pnl" -->
    <p-blockUI [blocked]="blockedPanel">
      <p-progressSpinner> </p-progressSpinner>
    </p-blockUI>
  </p-panel>

</form>