<p-panel header="List Product">
  <!-- filter -->
  <div class="grid">
    <div class="col-4">
      <button pButton label="Add New" (click)="showAddModel()" severity="contrast" iconPos="left" icon="fa fa-plus"></button>
    </div>
    <div class="col-8">
      <div class="formgroup-inline">
        <div class="field">
          <label for="txt-keyword" class="p-sr-only">Key Word</label>
          <input id="txt-keyword" type="text" pInputText placeholder="Keyword">
        </div>
        <div class="field">
          <p-dropdown [options]="productCategories" [(ngModel)]="categoryId" placeholder="Select Category" />
        </div>
        <button type="button" pButton icon="fa fa-search" iconPos="left" (click)="loadData">Search</button>
      </div>
    </div>
  </div>

  <!-- table -->
  <p-table #pnl [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Type</th>
        <th>Category</th>
        <th>SortOrder</th>
        <th>Visibitity</th>
        <th>IsActive</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.code }}</td>
        <td>{{ row.sku }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.productType }}</td>
        <td>{{ row.categoryId }}</td>
        <td>{{ row.sortOrder }}</td>
        <td>{{ row.visibitity }}</td>
        <td>{{ row.isActive }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">
        Total Record: {{totalCount|number}}
      </div>
    </ng-template>
  </p-table>
  <!-- paginator -->

  <p-paginator [rows]="maxResultCount" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 30]"> </p-paginator>
  <!-- block UI -->
  <p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <p-progressSpinner> </p-progressSpinner>
  </p-blockUI>


</p-panel>